<h3>Hello world</h3>
<a [routerLink]="['/']">Home</a> | 
<a [routerLink]="['routes', 'a', form.controls['id'].value]">A</a> | 
<a [routerLink]="['routes', 'b', form.controls['id'].value]">B</a> | 
<a [routerLink]="['other', 'c', form.controls['id'].value]">C</a> | 
<a [routerLink]="['other', 'd', form.controls['id'].value]">D</a> | 
<a [routerLink]="['root', 'e', form.controls['id'].value]">E</a> | 
<a [routerLink]="['root', 'f', form.controls['id'].value]">F</a> | 

<button (click)="setFeatureFlag('on')">Turn feature flag ON</button> 
<button (click)="setFeatureFlag('off')">Turn feature flag OFF</button>

<form [formGroup]="form">
    <input formControlName="id" type="text" placeholder="id">
</form>

<router-outlet></router-outlet>
